#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:200px 150px;
    gap:30px;

  #cards{
    font-size:30px;
    font-family:sans-serif;
    font: weight 900px;
    padding: 30px;
  }
  #image{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;

    
  }
 img{
    height:300px;
    width: 150px;
    border: 3px  black soid;
 }
 img:nth-child(1){
    margin-right:-9px;
    transform: perspective(200px) rotateY(20deg);
 }
 img:nth-child(2){
  margin-right: -9px;
  transform: perspective(250px) rotateY(15deg);
}
img:nth-child(4){
  margin-left: -9px;
  transform: perspective(250px) rotateY(-15deg);
}
img:nth-child(5){
  margin-left:-9px;
  transform: perspective(200px) rotateY(-20deg);
  z-index: -1;
}
img:nth-child(3){
   z-index:1;
 } 
}